@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-x: hidden;
}

@layer base{
    h2{
        font-weight: 800;
        text-align: center;
        padding: 5%;
        font-size: large;
    }
}

@layer components{
    .layoutPosition{
       @apply w-full h-full fixed top-0 left-0;
    }
    .layoutBlur{
        @apply bg-[rgba(107,107,107,0.5)] backdrop-blur-[0.5px] z-[1000];
    }
    .formContainer{
        @apply bg-[black] sticky z-[1000] rounded-[10px] w-[80%] sm:w-[50%] md:w-[40%] lg:w-[30%]  px-[min(300px,5%)] py-[min(3%,10%)] mx-auto
    }
    .notesContainer{
        @apply bg-[black] sticky z-[1000] rounded-[10px] w-[90%] sm:w-[60%] p-[3%] mx-auto
    }
    .closeIcon{
        @apply ms-auto h-[35px] w-[35px] rounded-[100px]
    }
    .layoutHeader{
        @apply text-[#c8c0c0] text-[25px]
    }
    .layoutField{
        @apply flex flex-col mt-[5vh]
    }
    .layoutLabel{
        @apply text-white font-semibold
    }
    .layoutInput{
        @apply border-[1px] rounded text-white px-[15px] py-[1%]
    }
    .layoutButtonDiv{
       @apply flex justify-end gap-[20px]   
    }
    .button{
        @apply bg-[#0052d9] text-white rounded border-none mt-[5vh] p-[5px_10px]
    }
    .searchbarFolder{
        @apply h-[20px] w-[20px] absolute max-[393px]:left-[190px] max-[393px]:top-[55%] max-[640px]:left-[190px] max-[640px]:top-[45%] max-[688px]:top-[55%] max-[688px]:left-[460px] max-[782px]:top-[45%] max-[782px]:left-[470px] top-[40%] left-[470px] cursor-pointer
    }
    .searchbarNotes{
        @apply h-[20px] w-[20px] absolute max-[398px]:left-[190px] max-[398px]:top-[55%] max-[640px]:left-[190px] max-[640px]:top-[35%] max-[693px]:top-[55%] max-[672px]:left-[460px] max-[782px]:top-[35%] max-[782px]:left-[470px] top-[30%] left-[470px] cursor-pointer
    }
    .ProseMirror ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}
.ProseMirror ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}
.ProseMirror a {
  text-decoration: underline;
  color: #60a5fa; /* blue-400 */
}

}


