body{
    overflow-x: hidden;
    background-color: black;
    padding:0 10px ;
    z-index: -100;
}

#folderlogo{
    height: 9vh;
    width: 9vh;
    border-radius:10px;
}

#Addfolder{
    height: 14vh;
    width: 14vh;
}

#Addnotes{
    height: 7vh;
    width: 7vh;
    margin: 25px 15px;
}
#noteslogo{
    height: 12vh;
    width: 12vh;
    border-radius:10px;
}

#folders{
    margin:2% ;
    display: flex;
    gap:10vh;
    flex-wrap: wrap;
}

#folderName{
    color: beige;
    font-style: oblique;
    font-size: medium;
}

#folders li{
    cursor: pointer;
}